{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

{% if current_user %}

<section>
    <div class="container col-xl-4 col-lg-5 col-md-6 col-sm-8 border bg-white my-4 mx-auto text-center">
        <h2 class="text-wrap h1 h1-app fw-bold my-5 mx-4">Witaj {{ current_user.name }}!
        </h2>
        <h3 class="h4 h4-app fw-bold text-muted">Co chcesz zrobić?</h3>
        <ul class="list-unstyled mb-5">
            <li>
                <a href="/add_income" class="btn w-50 bg-btn-app mt-3 my-1" tabindex="-1" role="button"
                    aria-disabled="true">Dodaj przychód</a>
            </li>
            <li>
                <a href="/add_expence" class="btn w-50 bg-btn-app my-1" tabindex="-1" role="button"
                    aria-disabled="true">Dodaj wydatek</a>
            </li>
            <li>
                <a href="/display_balance" class="btn w-50 bg-btn-app my-1" tabindex="-1" role="button"
                    aria-disabled="true">Przeglądaj bilans</a>
            </li>
        </ul>
    </div>
</section>

{% else %}

<section class="row">
    <div class="row mx-auto">
        <div class="container col-xl-4 col-lg-5 col-md-6 col-sm-7 border bg-white text-center mx-auto mt-5 p-3 pb-1">
            <div class="row my-3 mx-auto">
                <h2 class="h4 h4-app fw-bolder text-gray-app mb-0">Zarządzaj Swoim Budżetem <span
                        class="row justify-content-center mx-auto">- bezpłatnie!</span></h2>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="container col-xl-4 col-lg-5 col-md-6 col-sm-7 border bg-white text-center mx-auto my-2">
            <h3>
                <a class="text-decoration-none text-primary fw-light" href="/login/new">Zaloguj się</a> lub <a
                    class="text-decoration-none text-primary fw-light" href="/signup/new">Utwórz konto</a>
            </h3>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}